# dependencies
node_modules
.pnp
.pnp.js
# Yarn 2+ configuration - completely ignore the cache directory
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Make sure cache is ignored even with the above exceptions
.yarn/cache/
.yarn/install-state.gz

# testing
coverage

# build output
dist
.next
out
build
.vercel
.turbo

# environment variables - be specific to catch all instances
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.development.local
**/.env.test.local
**/.env.production.local
# But allow example env files
!**/.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# expo
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# IDE
.idea
.vscode
*.swp
*.swo

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
node_modules
